* {
    margin: 0;
    padding: 0;
    }

body {
    font-family: 'Cantarell', sans-serif;
    font-size: 13px;
}

#nav-bar {
    list-style-type: none;
    margin: 0 2em;
    overflow: hidden;
}

li {
    display: block;
    margin: 1em 0.5em;
    padding: 0.5em;
}

.left {
    float: left;
}

.right {
    float: right;
}

#sign-in {
    background-color: #1a73e8;
    border-radius: 0.2em;
    color: white;
    padding: 0.5em 1em;
    font-weight: bolder;
}

#search-container {
    width: 66%;
    margin: 10em auto;
    display: flex;
    flex-direction: column;
}

#google-logo {
    width: 20%;
    align-self: center;
    margin-bottom: 2em;
}

#search-form {
    width: 45%;
    align-self: center;
}

#search-wrapper {
    height: 3.5em;
    border: solid;
    border-width: 0.1em;
    border-color: #dfe1e5;
    display: flex;
    justify-content: space-between;
    border-radius: 15em;
    overflow: hidden; 
}

#loupe {
    font-size: 1.25em;
    color: #9aa0a6;
    margin: 1em;
}

#search-input {
    width: 90%;
    border: none;
}

#microphone {
    max-width: 2em;
    margin: 1em;
}

#buttons {
    flex-direction: row;
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
}

button {
    margin: 1em;
    background-color: #f4f4f4;
    border: none;
    padding: 0.75em;
    border-radius: 0.25em;
    font-weight: 400;
}

#footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    height: 3.5em;
    width: 100%;
    color: #5f6797;
    border-top: solid;
    border-width: 0.1em;
    border-color: #e4e4e4;
}

#footer > li {
    color: rgb(95, 99, 104);
    padding: 0.75em 0.5em;
    margin: 0 0.5em;
    font-size: 1.2em;
}